header{
background-color: beige;
height: 100%;
width: 100%;
}
body{
text-align: justify;
margin: auto;
margin: 0;
padding: 0;
background-color: white;
}
#blackout {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: black;
animation: fadeOut 10s linear forwards;
z-index: 1005;
}
@keyframes fadeOut {
0% {
opacity: 1;
}
50% {
opacity: 1;
}
100% {
opacity: 0;
}
}
/*---Presentation---*/
.texte-presentation  {
background-color: white;
font-family: 'Century Gothic', sans-serif;
text-align: center;
background-color: #6096B4;
background-size: cover;
padding-top: 15%;
}

.texte-presentation h1 {
display: inline-block;
text-transform: uppercase;
border-bottom: 4px solid white;
font-size: 20px;
padding-bottom: 10px;
margin-bottom: 50px;
font-family: 'Century Gothic', sans-serif;
color: white;
}

.texte-presentation p {
font-size: x-large;
font-family: 'Century Gothic', sans-serif;
background: rgba(255, 255, 255, 0.3);
color: white;
border: solid px white;
padding: 5%;
}
/*--Fin Présentation--*/

@media screen and (max-width: 768px) {
.texte-presentation p{
font-size: medium;
}
}
#Calque_1 {
width: 80%;
height: 80%;
transform: translate(-50%, -50%);
position: relative;
top: 50%;
left: 50%;
}


.cls-1 {
fill: white;
opacity: 0;
animation-name: fadeIn;
animation-duration: 1s;
animation-fill-mode: forwards;
animation: fadeOut 3s linear forwards;
}

.cls-1:nth-child(1) {
animation-delay: 0.2s;
}

.cls-1:nth-child(2) {
animation-delay: 0.4s;
}

.cls-1:nth-child(3) {
animation-delay: 0.6s;
}

.cls-1:nth-child(4) {
animation-delay: 0.8s;
}

.cls-1:nth-child(5) {
animation-delay: 1s;
}

.cls-1:nth-child(6) {
animation-delay: 1.2s;
}

.cls-1:nth-child(7) {
animation-delay: 1.4s;
}

.cls-1:nth-child(8) {
animation-delay: 1.6s;
}

.cls-1:nth-child(9) {
animation-delay: 1.8s;
}

@keyframes fadeIn {
from {
opacity: 0;
}
to {
opacity: 1;
}
}
/* Styles pour la barre de navigation fixe */

#menu {
position: fixed;
display: flex;
top: 0;
left: 0;
right: 0;
z-index: 1000;
padding-top: 30px;
padding-bottom: 30px;
text-align: center;
justify-content: center;
font-size: large;
transition: background-color 0.5s ease;
}

/* Styles de base pour la liste */
nav#menu ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
text-align: center;
display: flex;
justify-content: center;
}

nav#menu li {
float: left;
}

nav#menu a.listtext {
display: block;
text-align: center;
text-decoration: none;
justify-content: center;
color: white;
font-family: 'Century Gothic', sans-serif;
margin-left: 1em;
margin-right: 1em;
cursor: pointer;

}
nav#menu a.listtext:hover {
color: black;
}


.hamburger {
display: none;
cursor: pointer;
}

/* Styles pour les écrans mobiles */
@media screen and (max-width: 768px) {
/* Affichage du menu hamburger */
.hamburger {
display: block;
font-size: x-large;
padding-left: 10px;
color: white;
transition: color 0.5s ease;
}
.hamburger:hover {
color: black;
}

/* Menu caché par défaut */
nav#menu ul {
position: absolute;
width: 100%;
flex-direction: column;
max-height: 0;
visibility: hidden;
transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* Affichage vertical du menu lorsqu'il est ouvert */
nav#menu.show-menu ul {
max-height: 500px;
visibility: visible;
background-color: rgba(96, 150, 180, 1); /* Opacité de 50% pour le fond */
}

nav#menu li {
float: none;
}

#menu {
position: fixed;
display: flex;
top: 0;
left: 0;
right: 0;
z-index: 1000; /* pour s'assurer que la barre de navigation reste au-dessus des autres éléments */
padding-top: 10px;
height: 7%;
text-align: center;
justify-content: space-between;
}
nav#menu a.listtext{
color: white;
padding-top: 2%;
padding-bottom: 2%;
}
}

/* Styles de base pour la section contact */
section#contact {
max-width: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding: 2%;
background-color: #6096B4;
}

section#contact h2 {
margin-bottom: 1rem;
font-family: 'Century Gothic', sans-serif;
color: white;
border-bottom: 4px solid white;
}

section#contact form {
display: flex;
flex-direction: column;
font-family: 'Century Gothic', sans-serif;
color: white;
}

section#contact label,
section#contact input,
section#contact textarea {
width: 100%;
margin-bottom: 0.5rem;
}

.formulaire{
border-radius: 10px;
border: solid 2px white;
height: 3em;
font-family: 'Century Gothic', sans-serif;
color: #6096B4;
font-weight: bold;
}

.formulaire-message{
border-radius: 10px;
border: solid 2px white;
height: 5em;
font-family: 'Century Gothic', sans-serif;
color: #6096B4;
font-weight: bold;
}

.envoyer {
border-radius: 10px;
border: solid 2px white;
height: 5em;
background-color: #6096B4;
color: white;
font-family: 'Century Gothic', sans-serif;
font-weight: bold;
}

.envoyer:hover {
background-color: white;
color: #6096B4;
}


section#contact input[type="submit"] {
align-self: flex-end;
cursor: pointer;
}

/* Styles pour les écrans mobiles */
@media screen and (max-width: 768px) {
section#contact {
padding: 1rem;
}
}
/*Style pour l'équipe*/
.equipebloc{
margin-top: 15%;
text-align: center;
margin-bottom: 10%;
}

.equipebloc h1{
display: inline-block;
text-transform: uppercase;
border-bottom: 4px solid #6096B4;
font-size: 20px;
padding-bottom: 10px;
margin-top: 40px;
font-family: 'Century Gothic', sans-serif;
color:#6096B4;
}

.equipe_nege{
width: auto;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.equipe_nege .membre{
width: 250px;
margin: 5px;
background: #fff;
padding: 20px 10px;
}

.equipe_nege .membre .photo_membre{
background: #6096B4;  
max-width: 190px;
width: 100%;
height: 190px;
margin: 0 auto;
border-radius: 50%;
padding: 5px;
position: relative;
cursor: pointer;
}

.equipe_nege .membre .photo_membre img{
width: 100%;
height: 100%;
border-radius: 50%;
}

.equipe_nege .membre h3{
text-transform: uppercase;
font-size: 18px;
line-height: 18px;
letter-spacing: 2px;
margin: 15px 0 0px;
font-family: 'Century Gothic', sans-serif;
}

.equipe_nege .membre span{
font-size: 10px;
font-family: 'Century Gothic', sans-serif;
}

.equipe_nege .membre p{
margin-top: 20px;
font-size: 14px;
line-height: 20px;
font-family: 'Century Gothic', sans-serif;
}

.equipe_nege .membre .photo_membre .reseaux_sociaux{
position: absolute;
top: 5px;
left: 5px;
background: rgba(0,0,0,0.65);
width: 95%;
height: 95%;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transform: scale(0);
transition: all 0.5s ease;
}

.equipe_nege .membre .photo_membre .reseaux_sociaux .item{
margin: 0 10px;
}

.equipe_nege .membre .photo_membre .reseaux_sociaux .fab{
color: #6096B4;
font-size: 20px;
}

.equipe_nege .membre .photo_membre:hover .reseaux_sociaux{
transform: scale(1);
}
/*----service----*/

.services{
background: white;
text-align: center;
padding-top: 10%;
}

.services h1{
display: inline-block;
text-transform: uppercase;
border-bottom: 4px solid #6096B4;
font-size: 20px;
padding-bottom: 10px;
margin-top: 40px;
font-family: 'Century Gothic', sans-serif;
color: #6096B4;
}
.cen{
max-width: 1200px;
margin: auto;
overflow: hidden;
padding: 20px;
}
.service{
display: inline-block;
width: calc(100%/3);
margin: 0 -2px;
padding: 20px;
box-sizing: border-box;
cursor: pointer;
transition: 0.4s;
}
.service:hover{
background: #EEE9DA;
}
.service i {
color: #6096B4;
font-size: 34px;
margin-bottom: 30px;
}
.service h2{
font-size: 18px;
text-transform: uppercase;
font-weight: 500;
margin: 0;
font-family: 'Century Gothic', sans-serif;
}
.service p {
color: gray;
font-size: 15px;
font-weight: 500;
font-family: 'Century Gothic', sans-serif;
}

@media screen and (max-width: 800px) {
.service{
width: 50%;
}
}

@media screen and (max-width: 500px) {
.service{
width: 100%;
}
}

/*SVG*/
/*---Slider---*/

/* General styling */

*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Demo styles end */
.swiper {
width: 100%;
height: 100vh;
}
.swiper-slide {
position: relative;
background-color: white
}
.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.swiper button {
width: 50px;
height: 50px;
color: #fff;
background: transparent;
border: none;
outline: none;
transition: opacity 0.25s;
}
.swiper button:hover {
opacity: 0.8;
}
.swiper button::before,
.swiper button::after {
font-size: 24px;
}
.swiper-pagination-bullet {
background-color: red;
}

.swiper-description {
position: absolute;
left: 0;
bottom: 0;
isolation: isolate;
padding: 50px 25px 25px;
color: #fff;
width: 100%;
}
.swiper-description::before {
content: '';
position: absolute;
left: 0;
bottom: 0;
z-index: -1;
width: 100%;
height: 100%;
background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8) 50%);
}
.swiper-description h2 {
font-size: 42px;
letter-spacing: 2px;
text-transform: uppercase;
font-family: 'Century Gothic', sans-serif;
text-align: end;
}
.swiper-description p {
font-size: 14px;
margin-bottom: 15px;
font-family: 'Century Gothic', sans-serif;
}
@media screen and (max-width: 600px) {
.swiper {
max-width: 100%;
}
.swiper-description {
padding: 20px;
}
.swiper-description h2 {
font-size: 20px;
}
.swiper-description p {
font-size: 12px;
}
}

/*--realisations--*/

.realisations {
max-width: 960px;
margin-inline: auto;
}
.gallery-wrapper {
display: flex;
margin-top: 2%;
}
.gallery-item {
position: relative;
isolation: isolate;
display: flex;
flex: 1;
height: 500px;
background-color: #000;
padding: 25px;
opacity: 1;
overflow: hidden;
transition: flex 0.5s, opacity 0.25s;
box-sizing: border-box;
margin: 0;
padding: 0;
}
.gallery-item:hover {
opacity: 1;
flex: 5;
}
.gallery-item:not(:hover) {
opacity: 0.75;
}
.item-image {
position: absolute;
top: 0;
right: 0;
z-index: -1;
width: 100%;
height: 100%;
object-fit: cover;
}
.item-description {
align-self: flex-end;
text-transform: uppercase;
color: #fff;
}
.name {
font-size: 37px;
padding-inline: 10px;
transform: translateY(-10px);
font-family: 'Century Gothic', sans-serif;

}
.name {
opacity: 0;
transition: opacity 0.25s, transform 0.3s;
transition-delay: 0.35s;
font-family: 'Century Gothic', sans-serif;
}
.gallery-item:hover .name,
.gallery-item:hover {
opacity: 1;
transform: translateY(0);
}
.gallery-item:not(:hover) .name,
.gallery-item:not(:hover) {
transition-delay: 0s;
}
@media screen and (max-width: 768px) {
.gallery-wrapper {
flex-direction: column;
height: 90vh;
}

.gallery-item:hover {
flex-basis: 100%;
}
}

.menuprincipal {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  text-decoration: none;
  color: #6096B4;
  font-family: 'Century Gothic', sans-serif;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 5%;
  background-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 20px;
  font-weight: bold;
}

.menuprincipal:hover {
  color: white;
  background-color: #6096B4;
}

.menuprincipal p {
  text-align: justify;
}
