header{
  background-color: beige;
  height: 100%;
  width: 100%;
}
body{
  text-align: justify;
  margin: auto;
  margin: 0;
  padding: 0;
  background-color: white;
}
/*---Presentation---*/
.texte-presentation  {
  background-color: white;
  padding: 10px;
  font-family: 'Century Gothic', sans-serif;
}
#textpresentation{
  text-align: center;
  padding: 10%;
}
.titrepresentation{
  display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #EEE9DA;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-family: 'Century Gothic', sans-serif;
}
.textpres{
  font-size: x-large;
}
@media screen and (max-width: 415px) {
  .textpres{
    font-size: medium;
  }
}
/* Styles pour la barre de navigation fixe */
#menu {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* pour s'assurer que la barre de navigation reste au-dessus des autres éléments */
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  justify-content: center;
  font-size: large;
}

/* Styles de base pour la liste */
nav#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav#menu li {
  float: left;
}

nav#menu a.listtext {
  display: block;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  color: #93BFCF;
  font-family: 'Century Gothic', sans-serif;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
}
nav#menu a.listtext:hover {
  color: #6096B4;
}
.hamburger {
  display: none;
  cursor: pointer;
}

/* Styles pour les écrans mobiles */
@media screen and (max-width: 768px) {
  /* Affichage du menu hamburger */
  .hamburger {
      display: block;
      padding-left: 40%;
      color: #93BFCF;
      font-size: x-large;
  }
  .hamburger:hover {
    color: #6096B4;
}

  /* Menu caché par défaut */
  nav#menu ul {
      position: absolute;
      background-color: white;
      width: 100%;
      flex-direction: column;
      max-height: 0;
      visibility: hidden;
      transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  /* Affichage vertical du menu lorsqu'il est ouvert */
  nav#menu.show-menu ul {
      max-height: 500px;
      visibility: visible;
  }

  nav#menu li {
      float: none;
  }

  #menu {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* pour s'assurer que la barre de navigation reste au-dessus des autres éléments */
    background-color: white;
    padding-top: 10px;
    height: 7%;
    text-align: center;
    justify-content: space-between;
  }
  nav#menu a.listtext{
    color: #93BFCF;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

/* Styles de base pour la section contact */
section#contact {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

section#contact h2 {
  margin-bottom: 1rem;
}

section#contact form {
  display: flex;
  flex-direction: column;
}

section#contact label,
section#contact input,
section#contact textarea {
  width: 100%;
  margin-bottom: 0.5rem;
}

section#contact input[type="submit"] {
  align-self: flex-end;
  cursor: pointer;
}

/* Styles pour les écrans mobiles */
@media screen and (max-width: 768px) {
  section#contact {
      padding: 1rem;
  }
}
/*Style pour l'équipe*/
.blocequipe{
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 10%;
}

.blocequipe h1{
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid #EEE9DA;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
  font-family: 'Century Gothic', sans-serif;
}

.notre_equipe{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.notre_equipe .membre{
  width: 250px;
  margin: 5px;
  background: white;
  padding: 20px 10px;
}

.notre_equipe .membre .membre_photo{
  background: #e9e5fa;  
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.notre_equipe .membre .membre_photo img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.notre_equipe .membre h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
  font-family: 'Century Gothic', sans-serif;
}

.notre_equipe .membre span{
  font-size: 20px;
  font-family: 'Century Gothic', sans-serif;
}

.notre_equipe .membre p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Century Gothic', sans-serif;
}

.notre_equipe .membre .membre_photo .reseaux{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}

.notre_equipe .membre .membre_photo .item{
  margin: 0 10px;
}

.notre_equipe .membre .membre_photo .fab{
  color: #6096B4;
  font-size: 20px;
}

.notre_equipe .membre .membre_photo:hover .reseaux{
  transform: scale(1);
}

.membre .reseaux .item:hover i {
  color: #fff; /* Couleur de l'icône au survol */
}

/*----service----*/

.services{
  background: white;
  text-align: center;
  padding: 10%;
}

.services h1{
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid #EEE9DA;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
  font-family: 'Century Gothic', sans-serif;
}
.cen{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.service{
  display: inline-block;
  width: calc(100%/3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.service:hover{
  background: #EEE9DA;
}
.service i {
  color: #6096B4;
  font-size: 34px;
  margin-bottom: 30px;
}
.service h2{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  font-family: 'Century Gothic', sans-serif;
}
.service p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Century Gothic', sans-serif;
}

@media screen and (max-width: 800px) {
  .service{
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .service{
    width: 100%;
  }
}

/*SVG*/
.bouton {
  background-color: white;
  color: #EEE9DA;
  border:2px solid #EEE9DA;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transform: rotate(90deg);
  margin-top: -100px;
  margin-bottom: 50px;
}
.bouton:hover{
  background-color: #6096B4;
  transform: scale(1.2) rotate(90deg);
}
#svg-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(img/03.jpg);
}
#Calque_1{
  margin: auto;
  height: 100vh;
  width: 100%;
}
#svg-container img {
  top: 0;
  left: 0;
  z-index: -1;
  height: auto;
  height: 100%;
  width: 100%;
}
g {
  transform: scale(1.3);
}
.nancy{
  position: absolute;
}
.cls-1 {
  fill: white;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: .57px;
  animation: appear 1s ease forwards;
  opacity: 0;
}
.cls-1:nth-of-type(1) {
  animation-delay: 2.1s;
}

.cls-1:nth-of-type(2) {
  animation-delay: 2.3s;
}

.cls-1:nth-of-type(3) {
  animation-delay: 1.5s;
}

.cls-1:nth-of-type(4) {
  animation-delay: 2.2s;
}

.cls-1:nth-of-type(5) {
  animation-delay: 1.4s;
}

.cls-1:nth-of-type(6) {
  animation-delay: 1.8s;
}

.cls-1:nth-of-type(7) {
  animation-delay: 2.1s;
}

.cls-1:nth-of-type(8) {
  animation-delay: 1.6s;
}

.cls-1:nth-of-type(9) {
  animation-delay: 2s;
}


@keyframes appear {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 415px) {
  #svg-container img {
    padding-top: 10%;
  }
  #svg-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  #Calque_1{
    margin: auto;
    height: 70vh;
    width: 100%;
  }
  .bouton {
    visibility: hidden;
  }
}

/*---Slider---*/

/* General styling */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Demo styles end */
.swiper {
  width: 100%;
  height: 100vh;
}
.swiper-slide {
  position: relative;
  background-color: white
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper button {
  width: 50px;
  height: 50px;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  transition: opacity 0.25s;
}
.swiper button:hover {
  opacity: 0.8;
}
.swiper button::before,
.swiper button::after {
  font-size: 24px;
}
.swiper-pagination-bullet {
  background-color: red;
}

.swiper-description {
  position: absolute;
  left: 0;
  bottom: 0;
  isolation: isolate;
  padding: 50px 25px 25px;
  color: #fff;
  width: 100%;
}
.swiper-description::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8) 50%);
}
.swiper-description h2 {
  font-size: 42px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
  text-align: end;
}
.swiper-description p {
  font-size: 14px;
  margin-bottom: 15px;
  font-family: 'Century Gothic', sans-serif;
}
      @media screen and (max-width: 600px) {
  .swiper {
    max-width: 100%;
  }
  .swiper-description {
    padding: 20px;
  }
  .swiper-description h2 {
    font-size: 20px;
  }
  .swiper-description p {
    font-size: 12px;
  }
}
